.navbar {
  position: fixed;
  width: 98vw;
  padding: .75em;
  background-color: rgba(34, 38, 41, 0.5);
  z-index: 999;
  border-bottom: 2px solid #61892F; }

.web-title {
  display: inline-block;
  width: 10%;
  margin: 0;
  color: #ffffff; }

.title-color {
  color: #86C232; }

.nav-links {
  display: inline-flex;
  justify-content: flex-end;
  width: 89%;
  padding: 0;
  margin: 0;
  list-style: none; }

.nav-link {
  color: #ffffff;
  margin: 0 2em; }

.link {
  text-decoration: none;
  color: #ffffff; }

.nav-link:hover {
  color: #86C232;
  cursor: pointer; }

.main-image {
  position: relative; }

section .hero-img-container {
  width: 100vw;
  height: 80vh; }

.movie-fan-title {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center; }

.movie-fan-title h1 {
  text-transform: uppercase;
  font-size: 55px;
  color: #86C232;
  margin-bottom: 0; }

.movie-fan-title h3 {
  margin-top: 5px;
  color: #86C232; }

#hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover; }

figure {
  margin: 0; }

button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 70px;
  cursor: pointer; }

button:hover {
  color: #86C232; }

button:focus {
  outline: 0; }

.main-carousel-one {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1; }

.main-carousel-two {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1; }

.carousel-wrapper {
  width: 1074px;
  overflow: hidden;
  z-index: 2; }

ul.carousel {
  display: flex;
  width: 4340px;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
  transition: all .5s ease-out; }

.carousel-item {
  height: 300px;
  width: 200px;
  margin-right: 16px;
  color: #ffffff;
  border: 1px solid #61892F; }

.carousel-item:hover {
  background-color: #222629;
  opacity: .5; }

.controls {
  display: flex;
  justify-content: space-between; }

.ctrl1, .ctrl2 {
  position: absolute;
  top: 48%;
  width: 1200px;
  z-index: -1; }

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin-top: 5em;
  border-top: 1px solid #86C232; }

.hidden-content {
  background-color: #222629;
  border: 0px solid #61892F;
  height: 0;
  width: 70vw;
  margin: 0 auto 0 auto;
  transition: all .5s ease-out; }

.hidden-content2 {
  background-color: #222629;
  border: 0px solid #61892F;
  height: 0;
  width: 70vw;
  margin: 0 auto 0 auto;
  transition: all .5s ease-out; }

.show {
  border: 2px solid #61892F;
  height: 22.5vh;
  width: 70vw;
  margin: 5px auto 0 auto;
  transition: all .5s ease-out; }

.fadeIn {
  opacity: 1 !important;
  transition: opacity 1s 1s ease-out; }

.movie-details1, .movie-details2 {
  position: absolute;
  left: 14.65%;
  display: inline-flex;
  opacity: 0;
  transition: opacity 1s ease-out; }

.movie-poster {
  height: 165px;
  width: 302px;
  background-color: #222629; }

.details-wrapper {
  position: relative;
  margin-top: 1em; }

.movie-name {
  text-transform: uppercase; }

.movie-name, .runTime {
  color: #ffffff; }

.description {
  width: 600px;
  margin: 1em;
  font-size: 16px;
  color: #ffffff; }

.title {
  color: #86C232;
  font-size: 20px; }

.misc-details {
  display: flex;
  justify-content: space-evenly; }

.favorite {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer; }

.icon-swap #favorited, .icon-swap #favorited2 {
  display: none; }

.watchlist {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer; }

.icon-swap #watch {
  display: none; }

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222629;
  overflow-x: hidden; }
