.alternate-pages-container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.favorite-page-btn, .watch-page-btn {
  border: 1px solid $button-color;
  background-color: #000000;
  font-size: 15px;
  padding: 5px;
}

.favorite-page, .watch-page {
  display: none;
}

.display {
  display: block;
  background-color: $title-color;
  width: 50%;
  margin: auto;
}

.favorites-list, .watch-list {
  list-style: none;
}

.favorite-container, .watch-container {
  border: 1px solid $button-color;
  background-color: $small-text-color;
  width: 42%;
  text-align: center;
  margin-top: 10px;
}

.favorites-link {
  text-decoration: none;
  color: #000000;
}

.favorites-title {
  margin: 10px 0;
}