.hidden-content {
  background-color: $background-color;
  border: 0px solid $title-color;
  height: 0;
  width: 70vw;
  margin: 0 auto 0 auto;
  transition: all .5s ease-out;
}

.hidden-content2 {
  background-color: $background-color;
  border: 0px solid $title-color;
  height: 0;
  width: 70vw;
  margin: 0 auto 0 auto;
  transition: all .5s ease-out;
}

.show {
  border: 2px solid $title-color;
  height: 22.5vh;
  width: 70vw;
  margin: 5px auto 0 auto;
  transition: all .5s ease-out;
}

.fadeIn {
  opacity: 1 !important;
  transition: opacity 1s 1s ease-out;
}

.movie-details1, .movie-details2 {
  position: absolute;
  left: 14.65%;
  display: inline-flex;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.movie-poster {
  height: 165px;
  width: 302px;
  background-color: $background-color;
}

.details-wrapper {
  position: relative;
  margin-top: 1em;
}

.movie-name {
  text-transform: uppercase;
}

.movie-name, .runTime {
  color: #ffffff;
}

.description {
  width: 600px;
  margin: 1em;
  font-size: 16px;
  color: #ffffff;
}

.title {
  color: $button-color;
  font-size: 20px;
}

.misc-details {
  display: flex;
  justify-content: space-evenly;
}

.movie-like {
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  transition: all .2s;
  display: flex;
}

.movie-like:hover {
    transform: scale(1.07); 
  }

.movie-like:focus {
    outline: none; 
}
  
.movie-like svg {
    height: 2rem;
    width: 2rem;
    fill: #fff; 
  }

.watchlist {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.icon-swap #watch {
    display: none;
}