// Theme Colors and anything else that will get the same styling
// It's a cool color #2F2FA2
$background-color: #222629;
$title-color: #61892F;
$button-color: #86C232;
$small-text-color: #6B6E70;