.navbar {
  position: fixed;
  width: 98vw;
  padding: .75em;
  background-color: rgba(34, 38, 41, .5);
  z-index: 999;
  border-bottom: 2px solid $title-color;
}

.web-title {
  display: inline-block;
  width: 10%;
  margin: 0;
  color: #ffffff;
}

.title-color {
  color: $button-color;
}

.nav-links {
  display: inline-flex;
  justify-content: flex-end;
  width: 89%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  color: #ffffff;
  margin: 0 2em;
}

.nav-link:hover {
  color: $button-color;
  cursor: pointer;
}